<div id="content_header">
    <div class="row">
        <div class="col"><h4><%= t('.title') %></h4></div>
        <div class="col text-end">
            <%= link_to t('button.add.stadium'), new_stadium_path, :method => :post, class: "btn btn-light btn-sm" %>
        </div>
    </div>
</div>

<div id="content_body">
    <div class="text-end py-2">
        <%= form_tag(stadia_search_path, :method => "get") do %>
            <%= text_field_tag(:location_name, nil, placeholder: t('.search_placeholder'), class: "fs-6 fst-italic text-center") %>
            <%= button_tag(t('button.search'), type: "submit", :name => nil, class: "btn btn-primary") %>
        <% end %>
    </div>

    <div class="table-responsive">
        <table class="table align-middle table-dark table-striped table-bordered border-dark-subtle">
            <tr class="text-center">
                <th style="width: 20%;"><%= t('.name') %></th>
                <th style="width: 40%;"><%= t('.location') %></th>
                <th style="width: 20%;"></th>
            </tr>
            <% @stadia.each do |stadium| %>
                <%= render stadium %>
            <% end %>
        </table>
    </div>

    <%= render 'shared/pagy' %>
</div>