<div id="content_header">
    <div class="row">
        <div class="col"><h4><%= t('.title') %></h4></div>
        <div class="col text-end">
            <%= link_to t('button.add.season'), new_season_path, :method => :post, class: "btn btn-light btn-sm" %>
        </div>
    </div>
</div>

<div id="content_body">

    <div class="table-responsive">
        <table class="table align-middle table-dark table-striped table-bordered border-dark-subtle">
            <tr class="text-center">
                <th style="width: 30%;"><%= t('.name') %></th>
                <th style="width: 20%;"><%= t('.start_date') %></th>
                <th style="width: 20%;"><%= t('.end_date') %></th>
                <th style="width: 20%;"></th>
            </tr>
            <% @seasons.each do |season| %>
                <%= render season %>
            <% end %>
        </table>
    </div>

    <%= render 'shared/pagy' %>
</div>