<% if @fans.present? && @matches.present? %>
    <%= form_with(model: fan_match) do |form| %>
        <%= render 'shared/form_errors_messages', object: form.object %>

        <div class="row g-3">
            <% if params[:fan_id].present? %>
                <div class="col-md-12">
                    <%= form.label :match_id, t('.match'), style: "display: block" %>
                    <%= select(:fan_match, :match_id, options_for_select(@matches, :selected => form.object.match_id), {:prompt => t('.prompt.match')}, {:class => "form-select"}) %>
                </div>

                <div>
                    <%= form.hidden_field :fan_id %>
                </div>
            <% elsif params[:match_id].present? %>
                <div class="col-md-12">
                    <%= form.label :fan_id, t('.fan'), style: "display: block" %>
                    <%= select(:fan_match, :fan_id, options_for_select(@fans, :selected => form.object.fan_id), {:prompt => t('.prompt.fan')}, {:class => "form-select"}) %>
                </div>

                <div>
                    <%= form.hidden_field :match_id %>
                </div>
            <% else %>
                <div class="col-md-12">
                    <%= form.label :match_id, t('.match'), style: "display: block" %>
                    <%= select(:fan_match, :match_id, options_for_select(@matches, :selected => form.object.match_id), {:prompt => t('.prompt.match')}, {:class => "form-select"}) %>
                </div>

                <div class="col-md-12">
                    <%= form.label :fan_id, t('.fan'), style: "display: block" %>
                    <%= select(:fan_match, :fan_id, options_for_select(@fans, :selected => form.object.fan_id), {:prompt => t('.prompt.fan')}, {:class => "form-select"}) %>
                </div>
            <% end %>

            <div class="col-12">
                <%= form.button nil, class: "btn btn-success" do %>
                    <%= t('button.submit') %>
                <% end %>
            </div>
        </div>
    <% end %>

<% elsif @fans.empty? %>
    <div class="container text-center text-danger">
        <h6><%= t('.fans_empty') %></h6>
        <%= link_to t('button.add.fan'), new_fan_path, :method => :post, class: "btn btn-light btn-sm" %>
    </div>
<% else %>
    <div class="container text-center text-danger">
        <h6><%= t('.matches_empty') %></h6>
        <%= link_to t('button.add.match'), new_match_path, :method => :post, class: "btn btn-light btn-sm" %>
    </div>
<% end %>