<ul class="navbar-nav">
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to news_stories_path, class: "nav-link" do %>
            <%= t('navbar.news') %>
        <% end %>
    </li>
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to calendar_path, class: "nav-link" do %>
            <%= t('navbar.calendar') %>
        <% end %>
    </li>
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to videos_path(video_type: "chant"), class: "nav-link" do %>
            <%= t('navbar.chants') %>
        <% end %>
    </li>
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to atributes_path, class: "nav-link" do %>
            <%= t('navbar.atribute') %>
        <% end %>
    </li>
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to liga_top_path, class: "nav-link" do %>
            <%= t('navbar.liga_top') %>
        <% end %>
    </li>
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to gallery_path, class: "nav-link" do %>
            <%= t('navbar.gallery') %>
        <% end %>
    </li>
    <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
        <%= link_to videos_path(video_type: "match_report"), class: "nav-link" do %>
            <%= t('navbar.video') %>
        <% end %>
    </li>
    <% if can? :admin, :main %>
        <li class="nav-item btn btn-dark p-0 mb-2 fw-bold fs-5 text-danger">
            <%= link_to admin_path, class: "nav-link" do %>
                <%= t('navbar.admin') %>
            <% end %>
        </li>
    <% end %>
</ul>