<tr id="<%= dom_id fan %>" class="text-center">
    <td style="width: 30%;"><%= fan.nickname %></td>
    <td style="width: 20%;"><%= fan.ontour_start %></td>
    <td style="width: 20%;">
        <%= link_to t('button.show'), fan_path(fan), class: "btn btn-info btn-sm" %>
    </td>
    <td style="width: 20%;">
        <%= link_to t('button.edit'), edit_fan_path(fan), class: "btn btn-warning btn-sm" %>
    </td>
</tr>