<tr id="<%= dom_id fan %>" class="text-center">
    <td style="width: 20%;">
        <%= link_to fan, class: "text-reset" do %>
            <%= fan.nickname %>
        <% end %>
    </td>
    <td style="width: 15%;"><%= fan.ontour_start %></td>
    <td style="width: 40%;">
        <%= fan.description.truncate(25) %>
    </td>
    <td style="width: 20%;">
        <%= link_to t('button.edit'), edit_fan_path(fan), class: "btn btn-warning btn-sm" %>
    </td>
</tr>