<div id="content_header">
    <div class="row">
        <div class="col"><h4><%= t('.title') %></h4></div>
        <% if can? :edit, Match %>
            <div class="col text-end">
                <%= link_to t('button.edit'), edit_match_path(@match), class: "btn btn-warning btn-sm" %>
            </div>
        <% end %>
    </div>
</div>
<div id="content_body">
    <div class="card text-bg-light mt-2 mb-3">
        <div class="card-body">
            <div class="row text-center">
                <div class="col-12 text-end">
                    <% if @match.match_type == "home" %>
                        <i class="bi bi-house"></i>
                    <% elsif @match.match_type == "ontour" %>
                        <i class="bi bi-train-front"></i>
                    <% else %>
                        <i class="bi bi-person-raised-hand"></i>
                    <% end %>
                    <%= Match.human_enum_name(:match_type, @match.match_type) %>
                </div>
                <div class="col-12">
                    <%= @match.season.name %>
                </div>                
                <div class="col-12">
                    <% if @match.tournament.subname.present? || @match.tournament.group.present? || @match.stage.present? %>
                        <%= @match.tournament.name %>.
                    <% else %>
                        <%= @match.tournament.name %>
                    <% end %>

                    <% if @match.tournament.subname.present? %>
                        <% if @match.tournament.group.present? || @match.stage.present? %>
                            <%= @match.tournament.subname %>.
                        <% else %>
                            <%= @match.tournament.subname %>
                        <% end %>
                    <% end %>

                    <% if @match.tournament.group.present? %>
                        <% if @match.stage.present? %>
                            <%= @match.tournament.group %>. <%= @match.stage %>
                        <% else %>
                            <%= @match.tournament.group %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row text-center fw-bold">
                <div class="col-5">
                    <% if @match.home_team.team_type.present? %>
                        <%= @match.home_team.team_type %>
                    <% end %>
                    "<%= @match.home_team.name %>" <br>
                    /<%= @match.home_team.location %>/
                </div>
                <div class="col-2 fs-3">
                    <% if @match.home_goal.nil? %>
                        -
                    <% else %>
                        <%= @match.home_goal %>
                    <% end %>
                        :
                    <% if @match.visitor_goal.nil? %>
                        -
                    <% else %>
                        <%= @match.visitor_goal %>
                    <% end %>
                </div>
                <div class="col-5">
                    <% if @match.visitor_team.team_type.present? %>
                        <%= @match.visitor_team.team_type %>
                    <% end %>
                    "<%= @match.visitor_team.name %>" <br>
                    /<%= @match.visitor_team.location %>/
                </div>
            </div>

            <div class="row">
                <div class="col-6 text_start">
                    <i class="bi bi-calendar3"></i> <%= I18n.l(@match.start_at, format: :only_date_long) %>
                </div>
                <div class="col-6 text-end">
                    <i class="bi bi-clock"></i> <%= I18n.l(@match.start_at, format: :only_time) %>
                </div>
                <div class="col-12 text-center">
                    <i class="bi bi-geo-alt"></i> <%= Stadium.human_enum_name(:loctype, @match.stadium.loctype) %> <%= @match.stadium.location_name %>, <%= @match.stadium.stadium_name %>
                </div>
            </div>
        </div>
    </div>

    <% if @match.match_type != "friendly" && (can? :show, Fan) %>
        <hr style="border-top: dotted 1px;">

        <div class="row mb-2">
            <div class="col"><h5><%= t('.fan_matches') %> (<%= @fans.count %>)</h5></div>
            <% if can? :create, FanMatch %>
                <div class="col text-end">
                    <%= link_to t('button.add.fan'), new_fan_match_path(match_id: @match.id), :method => :post, class: "btn btn-light btn-sm" %>
                </div>
            <% end %>
        </div>

        <% if @fans.present? %>
            <% if can? :destroy, FanMatch %>
                <div class="row justify-content-center my-2">
                    <% @fans.each do |fan| %>
                        <div class="col-7 text-center border border-white rounded-3 p-1">
                            <%= link_to fan, class: "text-reset text-decoration-none" do %>
                                <%= fan.nickname %>
                            <% end %>
                            <% @fan_matches.each do |fan_match| %>
                                <% if fan_match.fan_id == fan.id %>
                                    <%= button_to t('button.delete_from_match'), fan_match_path(fan_match), method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "btn btn-danger btn-sm ms-2", form: {style: 'display:inline-block;'} %>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <% @fans.each_with_index do |fan, index| %>
                    <%= link_to fan, class: "text-reset text-decoration-none" do %>
                        <% if (index + 1) != @fans.size %>
                            <%= fan.nickname %>,
                        <% else %>
                            <%= fan.nickname %>.
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <%= t('.fans_empty') %>
        <% end %>
    <% end %>

    
    <hr style="border-top: dotted 1px;">

    <div class="row mb-2">
        <div class="col"><h5><%= t('.match_videos') %> (<%= @videos.count %>)</h5></div>
        <% if can? :create, MatchVideo %>
            <div class="col text-end">
                <%= link_to t('button.add.match_video'), new_match_video_path(match_id: @match.id), :method => :post, class: "btn btn-light btn-sm" %>
            </div>
        <% end %>
    </div>

    <% if @videos.present? %>
        <div class="row">
            <% @videos.each do |video| %>                
                <%= render 'videos/video', video: video %>
            <% end %>
        </div>
    <% else %>
        <%= t('.videos_empty') %>
    <% end %>

    <% if can? :create, Match %>
        <div class="row mt-2">
            <div class="col">
                <%= link_to t('button.all.matches'), matches_path, class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>

</div>