<!DOCTYPE html>
<html>
  <head>
    <title><%= t('appname_html') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('icon-tfa-64.png') %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <%= render 'shared/header' %>
      </div>

      <div id="middle">
        <div id="leftSide">
          <div id="content_main"  class="rounded-3 p-3 mb-2 bg-dark text-white">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>

        <div id="rightSide">
          <div id="navbar">
            <%= render 'shared/navbar' %>
          </div>
        </div>

      </div>

      <div id="footer">
        <%= render 'shared/footer' %>
      </div>
    </div>

    <a id="toTop" href="#"><%= image_tag("toTop.png",  width: 40) %></a>

  </body>
</html>
